<h1><%= @doctor.name %></h1>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>

<section id="hospital">
  <p>Hospital: <%= @doctor.hospital.name %></p>
</section>

<section id="patients">
  <h3>My Patients</h3>
  <% @doctor.patients.each do |patient| %>
    <p><%= patient.name %></p>
       <%= button_to "Delete #{patient.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete%>
  <% end %>
</section>